.signin-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(3.76deg, #ecfafc -0.32%, #fafdfe);
}

.signin-page__modal,
.signin-page__modal-title,
.signin-page__modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signin-page__modal {
  width: 270px;
  background-color: white;
  border-radius: 8px;
  padding: 24px;
  gap: 32px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.signin-page__modal-title {
  gap: 8px;
  text-align: center;

  span:first-child {
    font-size: 28px;
    font-weight: 600;
  }
}

.signin-page__modal-form {
  width: 100%;

  .ant-btn {
    width: 100%;
  }
}
