.astable {
  .ant-table-title {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    gap: 8px;
    padding: 16px 0;

    .filtered-reports-page__table-actions {
      display: flex;
      gap: 12px;
    }

    .filtered-reports-page__table-search {
      display: flex;
      gap: 12px;
      width: 100%;
      max-width: 420px;
    }
  }

  .ant-table-row {
    cursor: pointer;
  }
}