@import "./variables.scss";
@import "./fonts.scss";
@import "./font-classes.scss";

body {
  margin: 0;
}

// layout styles
.ant-layout.as-registration-layout {
  background: linear-gradient(3.76deg, #ecfafc -0.32%, #fafdfe);
}

// form styles
.ant-form-item-control-input-content:has(.ant-input-affix-wrapper) {
  .ant-input-affix-wrapper {
    height: 40px;
  }
}

.ant-form-item-control-input-content:not(:has(.ant-input-affix-wrapper)) {
  .ant-input {
    height: 40px;
  }
}

.ant-form-item .ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  display: none;
}

.ant-form-item .ant-form-item-label>label {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

// select styles
.ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: #014891;
  color: white;
}

.as-text-red {
  color: $text-red;
}

.ant-notification {
  .ant-notification-notice {
    padding: 12px;
    display: flex;
    align-items: center;
    width: unset;
    gap: 12px;

    .ant-notification-notice-content>div {
      display: flex;
      align-items: center;
      gap: 12px;

      .anticon {
        position: unset;
      }

      .ant-notification-notice-message {
        padding: 0;
        margin: 0;
      }

      .ant-notification-notice-description {
        display: none;
      }
    }

    .ant-notification-notice-close {
      position: unset;
    }
  }
}

.ant-notification-notice.ant-notification-notice-error {
  background-color: $red-50;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  height: 40px;
  display: flex;
  align-items: center;
}

.ant-modal {
  .ant-modal-content {
    padding: 0;
  }

  .ant-modal-header {
    margin-bottom: 0;
    padding: 24px 16px;
    box-shadow: $border-bottom;
  }

  .ant-modal-body {
    padding: 16px;
  }
}

.modal-footer {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
}

.ant-modal-close {
  display: none;
}


::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 8px;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: $blue-800
}

.ant-select-item-empty {
  display: flex;
  justify-content: center;
}


//icons
.ant-icon-sm {
  svg {
    width: 16px;
    height: 16px;
  }
}

.ant-icon-md {
  svg {
    width: 20px;
    height: 20px;
  }
}


.all-page__spinner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


html[dir="rtl"] .ant-pagination-item-link {
  transform: scaleX(-1);
}

.no-text-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.confirmation-modal{
    .ant-modal-body{
        display: flex;
        flex-direction: column;
        padding: 0;

        >span{
            padding: 16px;
        }
    
        .confirmation-modal-actions{
            display: flex;
            flex-direction: row-reverse;
            gap: 16px;
            border-top: 1px solid $gray-300;
            padding: 16px;
        }
    }
}