@import "./variables.scss";
@import "./fonts.scss";
@import "./font-classes.scss";

body {
  margin: 0;
}

// layout styles
.ant-layout.as-registration-layout {
  background: linear-gradient(3.76deg, #ecfafc -0.32%, #fafdfe);
}

// form styles
.ant-form-item {
  width: 100%;

  input {
    height: 40px;
  }
}

.ant-form-item
  .ant-form-item-label
  > label.ant-form-item-required:not(
    .ant-form-item-required-mark-optional
  )::before {
  display: none;
}

.ant-form-item .ant-form-item-label > label {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

// select styles
.ant-select-dropdown
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: #014891;
  color: white;
}

.as-text-red {
  color: $text-red;
}

.ant-notification {
  .ant-notification-notice {
    padding: 12px;
    display: flex;
    align-items: center;
    width: unset;
    gap: 12px;

    .ant-notification-notice-content > div {
      display: flex;
      align-items: center;
      gap: 12px;

      .anticon {
        position: unset;
      }

      .ant-notification-notice-message {
        padding: 0;
        margin: 0;
      }

      .ant-notification-notice-description {
        display: none;
      }
    }

    .ant-notification-notice-close {
      position: unset;
    }
  }
}

.ant-notification-notice.ant-notification-notice-error {
  background-color: $red-50;
}
