.as-header.ant-layout-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  background: transparent;
  padding-inline: 10%;
  height: 90px;
}
