@import "../../styles/variables.scss";

.overview-page {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.overview-page__header {
  background-color: $blue-800;
  border-radius: 8px;
  color: white;
  display: flex;
  padding: 24px;
  justify-content: space-between;
  align-items: center;
  height: 110px;

  > div {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

.overview-page__charts {
  display: flex;
  gap: 24px;

  .overview-page__card {
    width: calc(50% - 12px);
  }
}

.overview-page__card {
  padding: 24px 16px;
  border-radius: 8px;
  box-shadow: $shadow-md;
}
