@import "../../../styles/variables.scss";

.add-edit-report__form {
  .add-edit-report__first-section {
    display: flex;
    gap: 32px;
    width: 100%;
    max-width: 994px;

    .ant-input {
      height: 40px;
    }

    .add-edit-report__card {
      flex: 1 1;

      .ant-form-item {
        margin-bottom: 8px;
      }

      .ant-form-item-label {
        padding-bottom: 4px;
      }
    }
  }
}

.add-edit-report__action {
  margin-bottom: 0;
  width: 100%;

  .ant-form-item-control-input-content {
    display: flex;
    gap: 16px;

    input {
      height: 40px;
    }
  }
}

.add-edit-report__followup-action {
  display: flex;
  gap: 16px;

  .ant-form-item-control-input-content {
    flex-direction: column;

    >div {
      display: flex;
      gap: 12px;
    }
  }
}

.add-edit-report__action,
.add-edit-report__followup-action {
  .anticon svg {
    width: 24px;
    height: 24px;

    path {
      fill: $red-500;
    }
  }
}

.add-edit-report__alert {
  padding: 12px;
  background-color: $gray-600;
  border-radius: 8px;
  color: $white;
}

.add-edit-report__card {
  padding: 16px;
  border-radius: 8px;
  box-shadow: $shadow-md;
}

.add-edit-report__actions-card {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .ant-form-item {
    margin-bottom: 0;
  }
}