@import "../../../styles/variables.scss";

.add-edit-report__action {
  margin-bottom: 0;
  width: 100%;

  .ant-form-item-control-input-content {
    display: flex;
    gap: 16px;

    input {
      height: 40px;
    }
  }
}

.add-edit-report__followup-action {
  display: flex;
  gap: 16px;

  .ant-form-item-control-input-content {
    flex-direction: column;

    >div {
      display: flex;
      gap: 12px;
    }
  }
}

.add-edit-report__action,
.add-edit-report__followup-action {
  .anticon.anticon-minus-circle svg {
    width: 24px;
    height: 24px;

    path {
      fill: $red-500;
    }
  }
}

.add-edit-report__alert {
  padding: 12px;
  background-color: $gray-600;
  border-radius: 8px;
  color: $white;
}

.add-edit-report__card {
  padding: 24px 16px;
  border-radius: 8px;
  box-shadow: $shadow-md;

  .ant-form-item-control-input-content {

    .ant-form-item,
    .ant-row {
      width: 100%;
    }
  }

  .ant-form-item:last-child {
    margin-bottom: 0;
  }

  .ant-input-number {
    width: 100%;

    input {
      height: 40px;
    }
  }
}

.add-edit-report__spinner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-edit-report__actions-card {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .ant-form-item {
    margin-bottom: 0;
  }
}