.signin-page {
  height: calc(100vh - 90px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.signin-page__modal,
.signin-page__modal-title,
.signin-page__modal-form {
  display: flex;
  flex-direction: column;
}

.signin-page__modal {
  width: 536px;
  background-color: white;
  border-radius: 8px;
  padding: 32px;
  gap: 32px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.signin-page__modal-title {
  gap: 8px;

  span:first-child {
    color: #014891;
  }
}
