.create-edit-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 8px;
    gap: 32px;
    overflow: auto;

    >div {
        width: 100%;
        max-width: 994px;
    }

    .add-edit-report__actions {
        display: flex;
        justify-content: flex-end;
        gap: 8px;
    }
}