@import "../../../styles/variables.scss";

.default-layout {
  height: 100vh;
}

.inner-layout {
  background: white;
  border-radius: 8px;

  >div {
    overflow: auto;
    padding: 24px;
  }
}

.inner-layout .as-header.ant-layout-header {
  box-shadow: inset 0 -1px 0 $gray-200;
  padding-inline: unset;
  padding: 12px 24px;
  height: 72px;
}

@media only screen and (max-width: $xs) {
  .inner-layout {
    .as-header.ant-layout-header {
      padding: 12px;
    }

    // content of the page
    > :nth-child(2) {
      padding: 12px;
    }
  }

  .inner-layout.inner-layout__blurry {

    // content of the page
    > :nth-child(2) {
      filter: blur(5px);
    }
  }
}